.field-type-field-secret .form-item.form-type-checkbox {
  float: left;
  margin-right: 5px;
}

.field-type-field-secret.field-widget-field-secret-fancy .form-field-secret-concealed .form-item {
  display: none;
}